:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(31, 31, 31, 0.87);
  background-color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: 0px;
}
body{
  margin: 0px;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color:#003057;
  color: rgb(243, 243, 243);
  width: 100%;
  padding: 12px;
  margin-top: 0px;
  text-align: center;
}

a{
 padding-left: 50px;
 color: white;
 font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
 text-decoration: none;
 font-weight: 700;
 right: 0px;
 font-size: 28px;
}
a:hover{
  color: pink;
  text-decoration: underline;
}

.actualDot{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  top: 20px;
}

.dotObject{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}
.dotName{
  padding-left: 10px;
  color: rgb(0, 0, 0);
  margin: 0px;
}

.dotView{
display: flex;
flex-direction: column;
padding-left: 20px;
}

.app{
  display:flex;
  flex-direction: column;
}

.welcomeBanner{
  margin-left: 22px;
  font-weight: bold;
}

.dotInformation{
  display: flex;
  flex-direction: column;
}

.lastDate{
  font-size: 10px;
  padding-left: 10px;
  margin: 0px;
}

.aboutPage{
  padding: 50px;
  padding-top: 20px;
  width: 75vw;
}

.footer{
  background: #003057;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100px;
}